<hr/>
<h2>
  {{#if images.[0]}}
    <img height=100 width=100 src="{{images.0.url}}"/>
 {{/if}}
 <span>
  Playlist 
  {{#if external_urls.spotify}}
    <a href="{{external_urls.spotify}}" target="_blank">{{name}}</a>
  {{else}}
    {{name}}
  {{/if}}
  ({{tracks.total}} Tracks)
 </span>
</h2>
{{#if description}}
  <div>Description: {{description}}</div>
{{/if}}
<div id="track-list" class="track-list-group">
  {{#each tracks.items}}
  {{#with track}}
  <div class="track-item" data-id={{uri}}>
    <div class="track-info">
      <span class="drag-handle">☰</span>
      {{#each album.images}}
      {{#if @last}}
      <img class="album-image" src={{url}}> 
      {{/if}}
      {{/each}}
      <div class="track-description-container">
        <div class="track-number-and-title">
          <div class="track-number">{{sum 1 @index}}.</div>
          <div class="track-name">
            {{#if external_urls.spotify}}
            <a href="{{external_urls.spotify}}" target="_blank">{{name}}</a>
            {{else}}
            {{name}}
            {{/if}}
            </div>
        </div>
        <div class="track-artists-and-album">
          {{#each artists}}
          <div class="artist-name">{{name}}</div>
          {{#unless @last}}
          <div class="inline-divider">–</div>
          {{/unless}}
          {{/each}}
          <div class="inline-divider">•</div>
          <div class="album-name">{{album.name}}</div>
        </div>
      </div>
      <div class="remove-button">✖</div>
    </div>
    <div class="track-preview" title="Preview">
      <span>Preview:</span>
      {{#if preview_url}}
      <audio id="audio-control-{{id}}" class="audio-control" src="{{preview_url}}" controls></audio>
      {{else}}
      N/A
      {{/if}}
    </div>
  </div>
  {{/with}}
  {{/each}}
</div>