<h3>Hi 
  <a href="{{external_urls.spotify}}" target="_blank">
  {{#if display_name}}
    {{display_name}}
  {{else}}
    {{id}}
  {{/if}}
  </a>
</h3>
<!--
<div class="media">
  {{#if images.0.url}}
  <div class="pull-left">
    <img class="media-object" width="150" src="{{images.0.url}}" />
  </div>
  {{/if}}
  <div id="user-info" class="media-body">
    <dl class="dl-horizontal">
      {{#if display_name}}
      <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
      {{/if}}
      <dt>Id</dt><dd>{{id}}</dd>
      <dt>Email</dt><dd>{{email}}</dd>
      <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
      <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
      {{#if images.0.url}}
      <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
      {{/if}}
      <dt>Country</dt><dd>{{country}}</dd>
    </dl>
  </div>
</div>
-->